<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <h1>Log in</h1>
      <form action="/login" method="POST">
        <label>
          Username:
          <input type="text" name="username" placeholder="Enter username" />
        </label>
        <label>
          Password:
          <input type="password" name="password" placeholder="Enter password" />
        </label>
        <button type="submit">Log In</button>
      </form>
    </div>
  </body>
</html>
